<title>Alien Interfaces</title>
<meta charset="utf-8">
<meta data-hid="description" name="description" content="A collection of UI/UX made with AI/ML">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/x-icon" href="../static/favicon.ico">
<link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">
<link rel="manifest" href="../static/site.webmanifest">
<link rel="apple-touch-icon" sizes="180x180" href="../static/apple-touch-icon.png">
<link rel="preload" href="//use.typekit.net/cgf2lyi.css" as="style">
<link rel="stylesheet" href="//use.typekit.net/cgf2lyi.css">
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@cjgammon" />
<meta name="twitter:creator" content="@cjgammon" />
<meta property="og:url" content="https://www.alieninterfaces.com" />
<meta property="og:title" content="Alien Interfaces - UI/UX" />
<meta property="og:description" content="A collection of UI/UX made with AI/ML" />
<meta property="og:image" content="https://alieninterfaces.com/static/twitter-card.png" />




