<!DOCTYPE html>
<html lang="en">
    <head>
      <%= require('./partials/metadata.html') %>
    </head>
    <body>
      <div id="smooth-wrapper">
        <div id="smooth-content">
      <section class="hero">

        <div class="hero-bg" data-lag="0.1" style="background-image: url('./assets/header.jpg');"></div>

        <div class="hero-content">
          <div class="hero-top" data-lag="0.3">
            <div class="hero-circle"></div>
            <h1>travel hub</h1>
<svg id="Layer_3" class="hero-btn" data-name="Layer 3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 43.01 49.02">
  <defs>
    <style>

      .cls-2 {
        fill: url(#radial-gradient-3);
      }

      .cls-3 {
        fill: url(#radial-gradient-2);
      }

      .cls-4 {
        fill: url(#radial-gradient);
      }
    </style>
    <radialGradient id="radial-gradient" cx="-6.67" cy="-15.77" fx="-6.67" fy="-15.77" r="21.38" gradientTransform="translate(7.36 33.47) rotate(90) scale(1.17 .9)" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#605988"/>
      <stop offset="1" stop-color="#605988" stop-opacity="0"/>
    </radialGradient>
    <radialGradient id="radial-gradient-2" cx="22.78" cy="27.71" fx="22.78" fy="27.71" r="18.8" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#d6d0d1"/>
      <stop offset=".4" stop-color="#dacfd0"/>
      <stop offset="1" stop-color="#f9f9f9"/>
    </radialGradient>
    <radialGradient id="radial-gradient-3" cx="19.9" cy="18.51" fx="19.9" fy="18.51" r="16.54" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#f8f8f8"/>
      <stop offset="1" stop-color="#f7f7f7" stop-opacity="0"/>
    </radialGradient>
  </defs>
  <g class="hero-btn-circle">
    <ellipse class="cls-4" cx="21.65" cy="25.64" rx="19.29" ry="25.11" transform="translate(-10.76 16.95) rotate(-34.81)"/>
    <circle class="cls-3" cx="18.8" cy="18.8" r="18.8"/>
    <circle class="cls-2" cx="18.8" cy="18.8" r="16.54"/>
    <path fill="#ff9762" d="m24.38,14.35c-6.08-2.63-8.09-4.78-11.19,0-3.14,4.84-5.84,6.05,0,8.95,5.84,2.9,8.27,4.47,11.19,0s6.08-6.32,0-8.95Zm-6.09,5.68c-1.14,0-2.07-.65-2.07-1.45s.93-1.45,2.07-1.45,2.07.65,2.07,1.45-.93,1.45-2.07,1.45Z"/>
  </g>
</svg>
          </div>
        </div>

        <svg version="1.1" id="wave" class="wave" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" preserveAspectRatio="none"
          viewBox="0 0 362.89 65.69" style="enable-background:new 0 0 362.89 65.69;" xml:space="preserve">
        <style type="text/css">
          .st0{fill:#FFFFFF;}
        </style>
        <path class="st0" d="M0,30.76c0,0,24.49-26.11,64.33-26.11c43.59,0,104.58,54.91,145.23,54.91s49.6-16.94,87.48-16.94
          s65.84,16.94,65.84,16.94v6.13H0V30.76z"/>
        </svg>
      </section>
      <section class="content">
        <div class="content-inner">

          <div class="label">
            <div class="label-icon"></div>
            <div class="label-text">open</div>
          </div>

          <div class="title">
            <div>Mountain Vista</div>
            <div class="price">$2,342</div>
          </div>

          <div class="grid-container">
            <div class="grid bold" data-lag="0.01">
              <div>SKI</div> 
              <div>SKI</div> 
              <div>SKI</div> 
              <div>BOARD</div> 
              <div>BOARD</div> 
            </div>
            <div class="line"></div>
            <div class="grid" data-lag="0.03">
              <div class="pill"></div> 
              <div class="pill"></div> 
              <div class="pill"></div> 
              <div class="pill"></div> 
              <div class="pill"></div> 
              <div>150cm</div> 
              <div>155cm</div> 
              <div>160cm</div> 
              <div>150cm</div> 
              <div>155cm</div> 
              <div>$30</div> 
              <div>$30</div> 
              <div>$30</div> 
              <div>$35</div> 
              <div>$35</div> 
            </div>
            <div class="line lighter"></div>
          </div>
          
          <div class="img-grid">
            <img src="./assets/img.svg" width="80px" alt="img"/>
            <div class="img-grid-header">Amenities</div>
            <div class="img-grid-price">Available all year</div>
            <div class="img-grid-subhead gray">Ski-in/ski-out access</div>
            <div class="img-grid-contenta gray">On-site rental</div>
            <div class="img-grid-contentb gray center">lessons for all ages</div>
            <div class="img-grid-contentc gray right">Snowmaking</div>
            <div class="img-grid-contentd gray">Ski patrol</div>
            <div class="img-grid-contente gray center">On-mountain dining</div>
            <div class="img-grid-contentf gray right">Outdoor pool</div>
          </div>

          <div class="line lighter"></div>

          <div class="button-section">
            <div class="button-section-text">
              <div class="button-section-text-copy">
                Available Now 
              </div>
              <div class="line lighter no-margin" style="opacity: 0.1;"></div>
            </div>
            <div class="button-holder">
              <div class="button-shadow"></div>
              <button class="button">PURCHASE</button>
            </div>
          </div>

          <nav data-lag="0.3">

            <a-nav-item>
              <span slot="icon">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.43 20.43" width="40px" height="40px">
  <defs>
    <style>
      .cls-1 {
        fill: none;
        stroke: #53516c;
        stroke-miterlimit: 10;
      }
    </style>
  </defs>
  <path class="cls-1" d="m9.43,10.22c17.39,9.17,9.96,16.6.79-.79-9.17,17.39-16.6,9.96.79.79C-6.39,1.05,1.05-6.39,10.22,11.01c9.17-17.39,16.6-9.96-.79-.79Z"/>
</svg>
              </span>
            </a-nav-item>

            <a-nav-item>
              <span slot="icon">
                <img src="./assets/circle.svg" width="20px" height="20px"/>
              </span>
              <span slot="label">MORE</span>
            </a-nav-item>

            <a-nav-item>
              <span slot="icon">
                <img src="./assets/triangle.svg" width="40px" height="40px"/>
              </span>
            </a-nav-item>

            <a-nav-item>
              <span slot="icon">
                <img src="./assets/circle.svg" width="20px" height="20px"/>
              </span>
              <span slot="label">LIST</span>
            </a-nav-item>

            <a-nav-item>
              <span slot="icon">
                <img src="./assets/curve.svg" width="20px" height="20px"/>
              </span>
              <span slot="label">SAVE</span>
            </a-nav-item>

          </nav>
        </div>
      </section>
    </div>
  </div>
      <div class="gradient"></div>
      <%= require('./partials/analytics.html') %>
    </body>
</html>
